body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #bcaaa4;
  text-align: center;
}

.cave-list {
  /* text-align: center; */
}

.cave-pic {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

label {
  color: teal;
}
